body {
  background-color: aquamarine;
}

body > * {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.field {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: start;
  box-sizing: content-box;
  gap: 0px 0px;
  height: 800px;
  width: 400px;
  border: solid 3px pink;
}

.cell {
  height: 80px;
  width: 80px;
  border: solid 1px black;
  box-sizing: border-box;
}

.snake {
  background-color: chartreuse;
}

.snake-head {
  background-color: #37e84c;
}

.snake-head:before {
  content: "^  ^";
  font-size: 50px;
  font-family: system-ui;
}

.apple {
  background-color: red;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-over {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  font-weight: bold;
  width: 320px;
  padding: 24px 0px;
  background-color: white;
  border-radius: 16px;
}

#pause-menu {
  color: white;
  font-size: 100px;
  font-weight: bold;
  width: 100%;
}
